* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.table {
  width: 100vw;
  margin: 10px;
  padding: 5px;
  table-layout: auto;
}

.icon {
}

#close-modal {
  padding: .6rem 1.2rem;
  background-color: #e01818;
  color: #FFF;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  opacity: .9;
  font-size: 1 rem;
}

#send-modal {
  padding: .6rem 1.2rem;
  background-color: #219e6c;
  color: #FFF;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  opacity: .9;
  font-size: 1 rem;
  width: 122px;
  height: 52px;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  z-index: 10;
  width: 780px;
  height: 500px;
  max-width: 90%;
  border-radius: 8px;
}

#modal > #send-modal {
  margin: 10px 50% 0 40%;
}

.modal-hdr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 14px 0 14px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.modal-hdr * {
  margin: 10px;
  margin-right: 5px;
}

#modal-body {
  margin-bottom: 1px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-body > label > input {
  border: 1.5px solid #bbbdc0;
  opacity: 0.9;
}

#root-modal-cursos-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-cursos-section {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  margin: -10px auto; 
}

#modal-cursos-section > label {
  padding: 15px 0 15px 0;
}

#modal-cursos-section > select, * > option {
  border: 1.5px solid #bbbdc0;
  opacity: 0.9;
}

#modal-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#fade, #modal {
  transition: .5s;
  opacity: 1;
  pointer-events: all;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#moda.hide {
  top: 0;
}

.lbl-aluno {
  font-size: 15px;
  font-weight: 700;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lbl-aluno > input {
}

.login-box {
    margin-bottom: 1px;
    display: flex;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #fee7e7;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32vw;
    height: 52vh;
}

.login-box > div > input {
  border: 1.5px solid #807e7e;
  opacity: 0.9;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 200px;
  height: 35px;
  outline-style: none;
  margin: 10px;
  padding: 2px;
  font-size: 13px;
  text-indent: 10px;
}

.login-box-header {

}

.login-box-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#login-box-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #415eb4;
  color: #ffff;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }


  .cadastro-container {
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
  }

  .show-content-container {
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
  }


  .cad-form {
    width: 350px;
    min-height: 400px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .input-form {
    width: 200px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    outline-style: none;
    background-color: #ffff;
    margin: 10px;
    padding: 2px;
    font-size: 13px;
    text-indent: 10px;
  }

  .input-form {
    border-style: none;
    border-color: #ffff;
  }


  .aluno-section {
  }

  .cursos-section {
    display: flex;
    flex-direction: column;
    margin: 10px auto;

    width: 60%;
  }

  .option-style {
    height: 30px;
    border-radius: 6px;
    font-size: 13px;
    text-indent: 5px;
  }

  .cad-btn {
    background-color: #27ca66;
    width: 850px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    color: white;
  }
}