:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.table-alunos {
  width: 100vw;
  margin: 10px;
  padding: 5px;
  table-layout: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }


  .cadastro-container {
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
  }

  .show-content-container {
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
  }


  .cad-form {

    width: 350px;
    min-height: 400px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-form {
    width: 200px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    outline-style: none;
    background-color: #ffff;
    margin: 10px;
    padding: 2px;
    font-size: 13px;
    text-indent: 10px;
  }

  .input-form {
    border-style: none;
    border-color: #ffff;
  }


  .aluno-section {
  }

  .cursos-section {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }

  .option-style {
    height: 30px;
    border-radius: 6px;
    font-size: 13px;
    text-indent: 5px;
  }

  .cad-btn {
    background-color: #27ca66;
    width: 850px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    color: white;
  }
}